<div class="progress" *ngIf="loading">
  <div class="indeterminate"></div>
</div>
<div class="section"></div>
<main class="center-align">
  <img class="responsive-img" style="width: 250px;" src="./../../assets/logo-full.png" />
  <div class="section"></div>

  <h5 class="white-text">Por favor, entre com sua conta</h5>
  <div class="section"></div>
  <div class="container">
    <div class="z-depth-1 grey lighten-4 row"
      style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

      <form class="col s12" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type="text" class="form-control" name="username" [(ngModel)]="model.username"
              #username="ngModel" required />
            <label for='email'>Login</label>
            <span class="helper-text" data-error="wrong" *ngIf="f.submitted && !username.valid" data-success="right">Login is required</span>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type="password" class="form-control" name="password" [(ngModel)]="model.password"
              #password="ngModel" required />
            <label for='password'>Senha</label>
            <span class="helper-text" data-error="wrong" *ngIf="f.submitted && !password.valid" data-success="right">Senha is required</span>
          </div>
        </div>
        <br />
        <div class='row'>
          <button type='submit' [disabled]="!f.form.valid" name='btn_login' (click)="login()"
            class='col s12 btn btn-large waves-effect purple darken-3'>Login</button>
        </div>
        <a [routerLink]="['/register']" class="center-align purple-text">Crie uma conta</a>
        <div class="section"></div>
      </form>
    </div>
  </div>
</main>