<div class="progress" *ngIf="loading">
  <div class="indeterminate"></div>
</div>
<div class="section"></div>
<main class="center-align">
  <img class="responsive-img" style="width: 250px;" src="./../../assets/logo-full.png" />
  <div class="section"></div>
  <div class="container">
    <div class="z-depth-1 grey lighten-4 row"
      style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

      <form class="col s12" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type="text" class="form-control" name="fullName" [(ngModel)]="model.fullName"
              #fullName="ngModel" required />
            <label for='fullname'>Nome completo</label>
            <span class="helper-text" data-error="wrong" *ngIf="f.submitted && !fullName.valid" data-success="right">FullName is required</span>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s6'>
            <input class='validate' type="text" class="form-control" name="login" [(ngModel)]="model.login"
              #login="ngModel" required />
            <label for='login'>Login</label>
            <span class="helper-text" data-error="wrong" *ngIf="f.submitted && !login.valid" data-success="right">Login is required</span>
          </div>
          <div class='input-field col s6'>
            <input class='validate' type="password" class="form-control" name="password" [(ngModel)]="model.password"
              #password="ngModel" required />
            <label for='password'>Senha</label>
            <span class="helper-text" data-error="wrong" *ngIf="f.submitted && !password.valid" data-success="right">Senha is required</span>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s6'>
            <input id="cpf" class='validate' type="text" class="form-control" name="cpf" [(ngModel)]="model.cpf" #cpf="ngModel"
              required />
            <label for='cpf'>CPF</label>
            <span class="helper-text" data-error="wrong" *ngIf="f.submitted && !cpf.valid" data-success="right">CPF is required</span>
          </div>
          <div class='input-field col s6'>
            <input id="phone" class='validate' type="text" class="form-control" name="phone" [(ngModel)]="model.phone"
              #phone="ngModel" required />
            <label for='phone'>Telefone</label>
            <span class="helper-text" data-error="wrong" *ngIf="f.submitted && !phone.valid" data-success="right">Telefone is required</span>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type="email" class="form-control" name="email" [(ngModel)]="model.email"
              #email="ngModel" required />
            <label for='email'>E-mail</label>
            <span class="helper-text" data-error="wrong" *ngIf="f.submitted && !email.valid" data-success="right">E-mail is required</span>
          </div>
        </div>

        <br />
        <div class='row'>
          <button [disabled]="!f.form.valid" name='btn_login' (click)="register()"
            class='col s12 btn btn-large waves-effect purple darken-3'>Registrar</button>
        </div>
        <a [routerLink]="['/login']" class="purple-text">Cancelar</a>
        <div class="section"></div>
      </form>
    </div>
    <div class="section"></div>
  </div>
</main>
